<template>
    <div class="hideBar">
        <label class="hideLabel"> Hide: </label>
        <div class="checkbox">
          <!-- All status -->
          <input
            id="hideAllStatus"
            type="checkbox"
            class="styled"
            @click="$emit('hideShowALLstatus')"
            v-model="hidestatusVal"
          />
          <label for="hideAllStatus">All statuses</label>
  
          <!-- Dynamic status -->
          <div v-for="(status, key) in allStatus" :key="`${key}status`">
            <input
              :id="`${status.name}`"
              type="checkbox"
              class="styled"
              :value="status.active"
              @click="$emit(`setSelectedStatus`, status)"
            />
            <label :for="`${status.name}`">
              {{ status.name }}
            </label>
          </div>
        </div>

      </div>
</template>

<script setup>
import {ref, watch} from 'vue'

const props = defineProps(['allStatus', 'hidestatus'])
const hidestatusVal = ref(props.hidestatus)

watch([ props.hidestatus ], ( newValue ) => {
    console.log(newValue)
    hidestatusVal.value = newValue
})

</script>