<template>
    <div class="pagination">
        <button @click="$emit('previousPage')" :disabled="currentPage === 1">Previous</button>
        <span> {{ currentPage }} </span>
        <button @click="$emit('nextPage')" :disabled="currentPage * itemsPerPage >= total">Next</button>
    </div>
</template>

<script setup>
    defineProps(['currentPage', 'total', 'itemsPerPage'])
</script>