<template>
    <div>
      
      <!-- hide by status fields -->
      <HideBar :allStatus="allStatus" :hidestatus="hidestatus" @hideShowALLstatus="hideShowALLstatus" @setSelectedStatus="setSelectedStatus"/>

      <div class="search-area">
        <input class="custom-input" @keydown="onSearch"  type="text" v-model="searchQuery" placeholder="Search...">
        <button class="clr-search-btn" @click="clearSearch">Clear Search</button>
      </div>
      
      
      <div>
          <!-- Main Table Design -->
          <table>
            <THeade :wwData="wwData" />
            <tbody>
                <template v-for="item in paginatedData" :key="item">
                <tr :class="getStatusClass(item.Status)" >
                  <td>
                    {{ item.Status }}
                  </td>
                  <td>
                    {{ item.Cores }}
                  </td>
                  <td>
                    {{ item.Product }}
                  </td>
                  <td>
                    {{ item.Lithography }}
                  </td>
                  <td>
                    {{ item.Threads }}
                  </td>
                  <td>
                    {{ item.Base_Freq }}
                  </td>
                  <td>
                    {{ item.Max_Turbo_Freq }}
                  </td>
                </tr>
            </template>
            </tbody>
          </table>
          <!-- End of Table Design -->
      </div>

      <!-- pagination component -->
      <Pagination :currentPage="currentPage" :itemsPerPage="itemsPerPage" :total="UIData.length" @previousPage="previousPage" @nextPage="nextPage"/>
    </div>
  </template>
  

<script setup>
import THeade from "./table/THeade.vue";
import { computed, onMounted, ref } from "vue";
// import data from "../assets/data.json";
import data from '../assets/data'
import HideBar from "./HideBar.vue";
import Pagination from "./Pagination.vue";
const hidestatus = ref(false)
const UIData = ref([])
const  wwInfo = ref({})
const allStatus = ref({})

const currentPage = ref(1);
const itemsPerPage = 50;
const searchQuery = ref('');


const onSearch = () => {
  if(searchQuery.value) {
    UIData.value = data
    UIData.value = UIData.value.filter((item) => {
      // Customize the conditions based on your data structure
      return (
        item.Status.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
        item.Product.toLowerCase().includes(searchQuery.value.toLowerCase())
      );
    });
  } else {
    UIData.value = data
  }
}

const clearSearch = () => {
  searchQuery.value = ''
  UIData.value = data
}

const paginatedData = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage;
  const endIndex = startIndex + itemsPerPage;
  return UIData.value.slice(startIndex, endIndex);
});
 
const previousPage = () => {
  if (currentPage.value > 1) {
    currentPage.value -= 1;
  }
};

const nextPage = () => {
  if (currentPage.value * itemsPerPage < UIData.value.length) {
    currentPage.value += 1;
  }
};


const wwData = computed(() =>
    `${wwInfo.value.year}WW${wwInfo.value.workweek}.${wwInfo.value.numofday}`
)

const 
setSelectedStatus  = ( status) => {
  if(status.active) {
    allStatus.value[status.name] =  {
      name: status.name,
      active: false
    }
  } else {
    allStatus.value[status.name] = {
      name: status.name,
      active: true
    }
  }
  UIData.value = data
  for (const keyStatus  in allStatus.value) {
    if(allStatus.value[keyStatus].active) {
      UIData.value = UIData.value.filter((ele)=> ele.Status != allStatus.value[keyStatus].name)
    }
  }


} 



onMounted(()=> {
    UIData.value = data;
    wwInfo.value = getWWFromDate();
    const allStatusData = {}
    UIData.value.forEach((ele)=> {
      allStatusData[ele.Status] = {
        name: ele.Status,
        active: false
      }
       return ele.Status
    })
    allStatus.value = allStatusData
})

// const calstatusRowspan = (data) => {
//     let sum = Object.keys(data).length + 1;
//     for (const cores in data) {
//         sum += Object.keys(data[cores]).length;
//     }
//     return sum;
// }

const getWWFromDate = (date = null) => {
    let currentDate = date || new Date();
    let startDate = new Date(currentDate.getFullYear(), 0, 1);
    let days = Math.floor((currentDate - startDate) / (24 * 60 * 60 * 1000));

    return {
        year: currentDate.getFullYear(),
        workweek: Math.ceil(days / 7),
        numofday: currentDate.getDay(),
    };
}

const hideShowALLstatus = () => {
  hidestatus.value = !hidestatus.value
  if(hidestatus.value) {
    UIData.value = []
    for (const keyStatus  in allStatus.value) {
      allStatus.value[keyStatus].active = true
      if(allStatus.value[keyStatus].active) {
        UIData.value = UIData.value.filter((ele)=> ele.Status != allStatus.value[keyStatus].name)
      }
    }
  } else {
    UIData.value = data
  }
}

const getStatusClass = (status) => {
    const statusClassMap = {
      'Launched (with IPU)': 'status-green',
      'Announced': 'status-yellow',
      'Launched': 'status-red',
      'Discontinued': 'status-blue'
    };

    // Return the CSS class based on the status
    return statusClassMap[status] || ''; // Default to an empty string if no match found
  }

</script>
  
  <style scoped>
  .fas.fa-times {
    display: none;
  }
  
  .fas.fa-times.comment {
    display: block;
  }
  
  .overWrittenCells:hover .fas {
    display: block;
  }
  
  .innerCells {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .innerCells.comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  table {
    width: 100%;
    white-space: nowrap !important;
  }
  
  table td {
    position: relative;
  }
  
  i {
    cursor: pointer;
  }
  
  .legendColorBox {
    margin: 0.4%;
    float: left;
    height: 20px;
    width: 30px;
    border: 1px solid grey;
    margin-right: 4%;
  }
  
  .inputBox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 0;
    text-transform: uppercase !important;
  }
  
  .inputBoxOverWritten {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 0;
    width: 80px;
    text-transform: uppercase !important;
    background: none !important;
  }
  
  .overWrittenCells {
    border: 2px solid rgb(194, 1, 1);
  }
  
  .overWrittenCells input {
    outline: 0;
  }
  
  input::placeholder {
    color: black;
  }
  
  input:focus::-webkit-input-placeholder {
    color: grey;
  }
  
  input[disabled] {
    cursor: text;
    background-color: inherit;
    color: black;
  }
  
  .legend-labels {
    white-space: nowrap !important;
    padding: 0%;
    display: flex;
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .legend-labels li {
    font-size: small;
    margin-right: 2%;
  }
  
  select {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 0;
  }
  
  table tr td:not(.skip),
  table tr th {
    text-align: center;
  }
  
  td,
  th {
    padding: 2px !important;
    width: 100px;
    border: 1px solid black;
  }
  
  .reference {
    width: 1%;
    background-color: #00b0f0;
  }
  
  .released {
    width: 1%;
    background-color: #7fff00;
  }
  
  .partial {
    width: 1%;
    background-color: #ffa500;
  }

  .custom-input {
    height: 35px;
    width: 200px;
  }
  
  .tentative {
    width: 1%;
    background-color: #dcdcdc;
  }
  
  .planned {
    width: 1%;
    background-color: #82ffac;
  }
  
  .hideBar {
    list-style: none;
    display: flex;
  }
  
  .productColumn {
    width: 1%;
    background-color: white;
  }
  
  .checkbox {
    list-style: none;
    display: flex;
  }
  
  .checkbox label {
    margin-left: 10px;
  }
  
  .redActual {
    width: 1%;
    color: red;
    background-color: #dcdcdc;
  }
  
  .width1 {
    width: 1%;
    /* white-space: nowrap !important; */
  }

  .status-green {
    background-color: #3F00FF	;
    color: white;
  }
  .status-yellow {
    background-color: #0096FF	;
    color: black;
  }
  .status-red {
    background-color: #5D3FD3;
    color: white;
  }

  .status-blue {
    background-color: #4169E1	;
    color: #fff;
  }

  .clr-search-btn {
    margin: 10PX;
    padding: 5PX;
  }
  </style>